* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-rubik {
    font-family: 'Rubik';
}

.font-dmsans {
    font-family: 'DM Sans';
}

.flex {
    display: flex;
}

body {
    background: #F9FAFF;
}

.header{
    height: 7.81vw;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header-blok {
    width: 33%;
}

header .logo {
    padding-left: 8.98vw;
    
}

.logo {
    align-items: center;
}

.logo img {
    /* height: 1.80vw; */
    height: 46px;

    margin-right: 0.39vw;
}

.logo span {
    font-weight: 500;
    font-size: 1.625rem;
    /* line-height: 31px; */
    text-transform: uppercase;
    color: #3D3D3F;
}

.menu {
    justify-content: center;
}

.menu ul {
    list-style: none; /* убирает маркеры списка */
}

.menu-item {
    font-weight: 500;
    font-size: 0.875rem;
    /* line-height: 18px; */

    display: inline; /* размещение списка по-горизонтали */
}

.menu-item a {
    color: #3D3D3F;
}

.menu-item + .menu-item {
    margin-left: 2.34vw;
}

.main-button {
    font-family: 'DM Sans';
    color: #FFFFFF;

    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    opacity: 0.85;
    border-radius: 0.20vw;
    /* border: none; */
    border-width: thin;
    border-style: solid;
    border-color: #F35F2F;

    cursor: pointer;
    /* box-sizing: border-box; */
}

.main-button:hover {
    background: #ff8b65;
}

.main-button:active {
    background: #FFFFFF;
    color: #F35F2F;

    border-width: thin;
    border-style: solid;
    border-color: #F35F2F;

    /* box-sizing: border-box; */
}

.menu-button button {
    /* padding: 12px 24px; */
    padding: 0.47vw 0.94vw;
    transform: translate(200%, 0);
}


.menu a {
    text-decoration: none; /* убирает подчёркивание у ссылок */
}

.menu-item a:hover { /* реакция на наведение курсора */
    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* --------------------------------------------------------- */



.consult-info {
    justify-content: center;
    align-items: center;

    /* flex-wrap: wrap; */
}

.consult-blok {
    width: 45%;
}

.consult-text-info {
    flex-direction: column;
    padding-left: 5.08vw;
}

.consult-text-info h1 {
    max-width: 35vw;
    margin-bottom: 1.64vw;

    font-weight: 500;
    font-size: 4.5rem;
    /* line-height: 85px; */
    color: #3D3D3F;
}

.consult-text-info span {
    max-width: 35vw;
    margin-bottom: 1.56vw;

    font-weight: 400;
    font-size: 1.25rem;
    /* line-height: 24px; */
    color: #3D3D3F;
}

.consult-text-info button {
    /* padding: 12px 28px; */
    padding: 0.47vw 1.09vw;
    font-weight: 400;
    font-size: 1.25rem;
}

.consult-image {
    padding-right: 5.08vw;
}

.consult-image img {
    /* max-width: 56.48vw; */
    max-width: 626px;
}



/* ------------------------------------------------------------ */



.provide-info {
    margin-top: 4.69vw;
    color: #3D3D3F;
}

.provide-info h2 {
    margin-bottom: 2.15vw;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #3D3D3F;
}

.provide-num-info {
    justify-content: center;
}

.provide-item {
    width: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 2px solid rgba(235, 235, 235, 0.8);
    border-radius: 0.66vw;
}

.provide-item + .provide-item {
    margin-left: 1.99vw;
}

.provide-item p {
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 0.51vw;

    text-align: center;
}

.provide-item span {
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.7;
    margin-bottom: 2.11vw;

    text-align: center;
}

.provide-item img {
    width: 99px;
    /* width: 3.87vw; */
    margin-bottom: 0.90vw;
    margin-top: 2.11vw;
}



/* ------------------------------------------------------- */

.offer-info-items {
    justify-content: center;
}

.offer-item {
    width: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
    border-radius: 0.90vw;
}

.offer-img-block {
    transform: translate(0, -50%);
    /* width: 5.5vw; */
    width: 90px;
    /* height: 5.5vw; */
    height: 90px;
    background: #fff;
    box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
    border-radius: 50%;
    
    align-items: center;
    justify-content: center;
}

.offer-img-block path {
    fill: #3D3D3F;
}

.offer-img-block svg {
    width: 55px;
}

.offer-item + .offer-item {
    margin-left: 1.99vw;
}

.offer-info h2 {
    margin-top: 4.69vw;
    /* margin-bottom: 1.76vw; */
    margin-bottom: 5.28vw;
}

.offer-item p {
    font-weight: 700;
    font-size: 1.5rem;
    color: #3D3D3F;

    /* margin-top: 1.95vw; */
    text-align: center;
}

.offer-item span {
    width: 16vw;
    font-weight: 400;
    font-size: 1rem;
    color: #595959;

    text-align: center;
    margin-top: 0.39vw;
    margin-bottom: 1.05vw;
}

.offer-circle-block {
    background: #F1F1F5;
    /* width: 3vw; */
    width: 45px;
    /* height: 3vw; */
    height: 45px;
    border-radius: 1.5vw;

    align-items: center;
    justify-content: center;
    margin-bottom: 1.52vw;
}

.offer-circle-block:hover {
    background: rgba(255, 122, 80, 0.83);
}

.offer-circle-block:hover path {
    fill: #fff;
}

.offer-circle-block:active {
    background: rgba(255, 86, 35, 0.83);
}



/*  ----------------------------------------------------------------*/

.projects-info {
    justify-content: center;
    align-items: center;
}

.projects-info h2 {
    margin-top: 4.69vw;
    margin-bottom: 2.15vw;
}

.projects-block {
    /* max-width: 80vw; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* для размещения большого количества блоков с информацией друг под другом */

}

.project-item {
    flex-direction: column;
    width: auto;
    align-items: center;

    background: #FFFFFF;
    border-radius: 10px;
}

.project-item + .project-item {
    margin-left: 1vw;
    margin-top: 1vw;
}

/* .project-item img {
    max-width: 299px;
} */

.project-image {
    /* width: 15.63vw;
    height: 11.72vw; */
    width: 390px;
    height: 290px;
    margin: 0.6vw;
    border-radius: 10px;
    background-size: cover;
}

.project-image:hover {
    transform: scale(1.1);
}

#project-1 {
    background: url('pic/site1.png') no-repeat 0% top;
}

#project-2 {
    background: url('pic/site2.png') no-repeat 0% top;
}

#project-3 {
    background: url('pic/site3.png') no-repeat 0% top;
}

#project-4 {
    background: url('pic/site4.png') no-repeat 0% top;
}

#project-5 {
    background: url('pic/site5.png') no-repeat 0% top;
}

#project-6 {
    background: url('pic/site6.png') no-repeat 0% top;
}

.project-item p {
    padding-top: 0.74vw;
    margin-bottom: 1vw;
}

.project-button {
    font-weight: 400;
    font-size: 1.25;
    
    color: #FFFFFF;
    margin-top: 2.34vw;
    justify-content: center;
}

.project-button button {
    padding: 0.55vw 1.02vw;
    text-transform: uppercase;
}




/* -------------------------------------------------------------------- */



.team-items {
    justify-content: center;
    align-items: center;
}

.team-info h2 {
    margin-top: 4.69vw;
    margin-bottom: 1.95vw;
}

.team-item {
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    border: 1px solid #EEEFF1;
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
    border-radius: 10px;

    /* width: 20%; */
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-item + .team-item {
    margin-left: 1.41vw;
}

.team-image {
    /* width: 15vw;
    height: 17vw; */
    width: 240px;
    height: 250px;
    margin: 0.6vw;
    /* background-size: cover; */
    /* background-size: auto; */
    /* background-position: top center ; */
    border-radius: 10px;
}

#team-1 {
    background: url('pic/doctor-DRJDAU5.png') no-repeat center 10%;
}

#team-2 {
    background: url('pic/doctor-DRJDAU52.png') no-repeat center 15%;
}

#team-3 {
    background: url('pic/doctor-DRJDAU53.png') no-repeat center 15%;
}

#team-4 {
    background: url('pic/doctor-DRJDAU54.png') no-repeat center 15%;
}

.team-item p {
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    color: #3D3D3F;

    padding-bottom: 0.04vw;
}

.team-item span {
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    color: #999999;
}

.team-social {
    justify-content: space-between;
    align-items: center;

    padding-top: 0.66vw;
    margin-bottom: 0.6vw;
}



/* ---------------------------------------------------------------- */

.feedback-info h2 {
    margin-top: 4.69vw;
    margin-bottom: 1.37vw;
}



/* ---------------------------------------------------------------- */



.contact-inputs {
    /* width: 60%; */
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-right: 14.18vw;
    margin-left: 14.18vw;

    /* overflow:hidden; */
}

.contact-info h2 {
    margin-top: 10.16vw;
    margin-bottom: 2.34vw;
}

.contact-inputs p {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 1.125rem;
    color: #3D3D3F;
    opacity: 0.9;
}

.contact-inputs input {
    background: #FFFFFF;
    box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.03);
    border-radius: 5px;

    /* overflow:hidden; */
    padding: 0.63vw;
    margin-top: 0.63vw;

    font-weight: 400;
    font-size: 0.875rem;
    color: #515155;
    opacity: 0.4;
}

.contact-two-col input {
    width: 14vw;
}

.contact-one-col input {
    width: 31.5vw;
    height: 7.81vw;
}

.input-forms:focus {
    color: #3D3D3F;
    border-color: #F35F2F;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 86, 35, 0.6);
    opacity: 0.9;
}

.input-forms:hover {
    border-color: #F35F2F;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 86, 35, 0.6);
    opacity: 0.9;
}

.contact-fullname + .contact-email, .contact-deadline + .contact-budget {
    margin-left: 2vw;
}

.contact-one-col, .contact-second-col {
    margin-top: 1.33vw;
}

.contact-inputs button {
    padding: 0.55vw 0.90vw;
    text-transform: uppercase;
}

.contact-button {
    margin-top: 2vw;
    margin-bottom: 3.71vw;
}



/* ---------------------------------------------------------------- */

.footer-info {
    margin-bottom: 1.25vw;
}

.footer-info-item {
    width: 23%;
}

.footer-info-item ul {
    list-style: none; /* убирает маркеры списка */
}

.footer-info-item li {
    font-weight: 400;
    font-size: 0.875rem;
    /* line-height: 14px; */
    
    text-align: center;
}

.foot-cat + .foot-cat {
    margin-top: 1vw;
}

.footer-info-item p {
    font-weight: 700;
    font-size: 1rem;
    /* line-height: 16px; */
    color: #323232;

    margin-bottom: 1vw;
}

.footer-category, .footer-about {
    text-align: center;
}

.footer-info-item a {
    text-decoration: none; /* убирает подчёркивание у ссылок */
    color: #646464;
}

.footer-info-item a:hover, .footer-back a:hover {
    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-info {
    justify-content: center;
    align-items: center;
}

.footer-contact .logo {
    margin-bottom: 0.51vw;
}

.footer-contact, .footer-subscribe {
    flex-direction: column;
    justify-content: flex-start;
}

.footer-contact-span + .footer-contact-span {
    margin-top: 0.63vw;
}

.footer-subscribe span, .footer-subscribe input {
    margin-bottom: 0.59vw;
}

.footer-subscribe button {
    padding: 0.47vw 4.57vw;
}

.footer-subscribe span, .footer-contact-span {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 180%; */
    color: #646464;
}

.footer-subscribe input {
    padding: 0.47vw 1vw 0.47vw 0.78vw;
}

.footer-contact-society {
    margin-top: 0.63vw;
}

.footer-contact-society-item + .footer-contact-society-item {
    margin-left: 0.63vw;
}
/* ---------------------------------------------------------------- */

.footer-back {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 14px;
    color: #646464;

    padding-bottom: 1.76vw;
    padding-top: 1.76vw;
    border-top: 0.04vw solid rgba(150, 150, 150, 0.2);

    justify-content: space-between;

    margin: 0 7vw;
}

.footer-back ul {
    list-style: none; /* убирает маркеры списка */
}

.footer-back li {
    display: inline; /* размещение списка по-горизонтали */
}

.footer-back-item + .footer-back-item {
    margin-left: 2.15vw;
}

.footer-back a {
    text-decoration: none;
    color: #646464;
}