* {
    margin: 0;
    padding: 0;
    width: auto;
}

.font-rubik {
    font-family: 'Rubik';
}

.font-dmsans {
    font-family: 'DM Sans';
}

.flex {
    display: flex;
}

body {
    background: #F9FAFF;
}

.header{
    /* max-height: 200px; */
    height: 7.81vw;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header-blok {
    width: 33%;
}

.logo {
    /* padding-left: 230px; */
    padding-left: 8.98vw;
    align-items: center;
}

.logo img {
    height: 1.80vw;
    /* height: 47px; */

    margin-right: 0.39vw;
}

.logo span {
    font-weight: 500;
    /* font-size: 26px; */
    font-size: 1.625rem;
    /* line-height: 31px; */
    text-transform: uppercase;
    color: #3D3D3F;
}

.menu {
    justify-content: center;
}

.menu ul {
    list-style: none; /* убирает маркеры списка */
}

.menu-item {
    font-weight: 500;
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 18px; */
    color: #3D3D3F;

    display: inline; /* размещение списка по-горизонтали */
}

.menu-item + .menu-item {
    /* margin-left: 60px; */
    margin-left: 2.34vw;
}

.main-button {
    font-family: 'DM Sans';
    color: #FFFFFF;

    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    opacity: 0.85;
    /* border-radius: 5px; */
    border-radius: 0.20vw;
    border: none;

    cursor: pointer;
}

.main-button:active {
    background: #FFFFFF;
    color: #F35F2F;

    border-width: thin;
    border-style: solid;
    border-color: #F35F2F;
}

.menu-button button {
    /* padding: 12px 24px; */
    padding: 0.47vw 0.94vw;
}

.menu-button {
    padding-left: 19.53vw;
    /* padding-left: 500px; */
}

.menu a {
    text-decoration: none; /* убирает подчёркивание у ссылок */
}

.menu-item a:hover { /* реакция на наведение курсора */
    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* --------------------------------------------------------- */



.consult-info {
    justify-content: center;
    align-items: center;
}

.consult-blok {
    width: 45%;
}

.consult-text-info {
    flex-direction: column;
}

.consult-text-info h1 {
    max-width: 35vw;
    margin-bottom: 1.64vw;

    font-weight: 500;
    font-size: 4.5rem;
    /* line-height: 85px; */
    color: #3D3D3F;
}

.consult-text-info span {
    max-width: 35vw;
    margin-bottom: 1.56vw;

    font-weight: 400;
    font-size: 1.25rem;
    /* line-height: 24px; */
    color: #3D3D3F;
}

.consult-text-info button {
    /* padding: 12px 28px; */
    padding: 0.47vw 1.09vw;
    font-weight: 400;
    font-size: 1.25rem;
}

.consult-image img {
    max-width: 56.48vw;
}



/* ------------------------------------------------------------ */



.provide-info {
    margin-top: 4.69vw;
    color: #3D3D3F;
}

.provide-info h2 {
    margin-bottom: 2.15vw;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #3D3D3F;
}

.provide-num-info {
    justify-content: center;
}

.provide-item {
    width: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 2px solid rgba(235, 235, 235, 0.8);
    border-radius: 0.66vw;
}

.provide-item + .provide-item {
    margin-left: 1.99vw;
}

.provide-item p {
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 0.51vw;
}

.provide-item span {
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.7;
    margin-bottom: 2.11vw;
}

.provide-item img {
    /* width: 90px; */
    width: 3.52vw;
    margin-bottom: 0.90vw;
    margin-top: 2.11vw;
}



/* ------------------------------------------------------- */

.offer-info-items {
    justify-content: center;
}

.offer-item {
    width: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #FFFFFF;

    box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
    border-radius: 0.90vw;
}

.offer-img-block {
    width: 5.2vw;
    height: 5.2vw;
    background: #fff;
    box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
    border-radius: 50%;
    
    align-items: center;
    justify-content: center;

    margin-top: 1vw;
}

.offer-item + .offer-item {
    margin-left: 1.99vw;
}

.offer-info h2 {
    margin-top: 4.69vw;
    margin-bottom: 1.76vw;
}

.offer-item p {
    font-weight: 700;
    font-size: 1.5rem;
    color: #3D3D3F;

    margin-top: 1.95vw;
}

.offer-item span {
    width: 16vw;
    font-weight: 400;
    font-size: 1rem;
    color: #595959;

    text-align: center;
    margin-top: 0.39vw;
    margin-bottom: 1.05vw;
}

.offer-circle-block {
    background: #F1F1F5;
    width: 3vw;
    height: 3vw;
    border-radius: 1.5vw;

    align-items: center;
    justify-content: center;
    margin-bottom: 1.52vw;
}

.offer-circle-block:hover {
    background: rgba(255, 122, 80, 0.83);
}



